忽略常见的虚拟环境文件夹
venv/
.venv/
env/

忽略 VS Code 的设定资料夹
.vscode/

忽略快取资料夹
pycache/

忽略所有的 .log 文件
*.log

忽略输出文件夹
output/

忽略自动生成的文件
state.json
data/normalized/

------------------
Git LFS 大文件配置
------------------
明确忽略所有 .onnx 和 .csv 文件，后续再通过 ! 规则取消忽略特定的文件
*.onnx
*.csv

# 确保 wd14 目录本身可以被跟踪
**/wd14/*

# 明确取消忽略你要提交的文件
!**/wd14/models/wd-vit-tagger-v3.onnx
!**/wd14/models/wd-vit-tagger-v3.csv